header {
    overflow: hidden;
    background-color: crimson;
    padding: 20px 10px;
    border-style: solid;
    text-align: center;
}

header a {
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}