nav {
    background-color: crimson;
    overflow: hidden;
    border-style: solid;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: gray;
    color: black;
}

nav a.active {
    background-color: lightgrey;
    color: black;
  }
  
  